.goals-form{ 'data-view' => 'GoalFormView' }
  = simple_form_for goal do |f|
    = f.label :name, 'I want to'
    = f.input :name, label: '', placeholder: 'acheive greatness'
    .goals-form-additional-info
      = f.label :reason, 'because'
      .goals-form-reason
        = f.input :reason,
          label: '',
          placeholder: 'Why do you want to do this?',
          rows: 3
      .goals-form-critical-mass
        = f.label :critical_mass, 'with'
        = f.input :critical_mass, label: ''
        other people

      = f.submit 'Get started!'
