%h1= goal.name

%p= goal.reason

%div
  With
  %var= goal.critical_mass
  others

%div
  Affirm!
  = simple_form_for :affirmation, url: goal_affirmations_path(goal) do |f|
    = f.input :reason, label: 'I will do this too because: '
    = f.submit "Join #{goal.owner.name}"

%div
  Affirmations:
  - goal.affirmations.each do |affirmation|
    %p
      #{affirmation.owner.name}
      wants to #{goal.name}
      because #{affirmation.reason}
