= render 'goals/show', goal: @goal

%div
  Affirm!
  = render 'affirmations/form', goal: @goal, affirmation: Affirmation.new

%div
  Affirmations:
  - @goal.affirmations.each do |affirmation|
    %p
      #{affirmation.affirmer.name}
      wants to #{@goal.name}
      because #{affirmation.reason}

%div
  Posts
  = render 'posts/form', post: Post.new
  - @goal.posts.each do |post|
    %p
      %p
        #{post.owner.name}
      %p
        #{post.content}
